* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f5f8ff;
  
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.nav-ban{
    background: url(Assets/Hero-bg.png);
    background-repeat: no-repeat;
    position: relative;
    max-width: 1440px;
    height: 698px;
    
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    align-items: center;
    
    height: 150px;
    
}
.nav-ban-content{
  margin: 158px 267px 267px 152px;
  
  text-align: center;
  
    
}
.nav-ban-content h1{
  font-size: 65px;
  font-weight: bold;
  color: #252432;
}
.logo{
    color: #4E47FF;
    width: 99px;
    height: 51px;
    font-size: 34px;
    font-weight: bold;

}


.stay-btn{
    margin-top: 37px;
}
.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    height: 48px;
    border:2px solid white;
    border-radius: 5px;
    padding: 10px;
}

/* Main action*/
.action {
    display: flex;
    gap: 220px;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    max-width: 1140px;
    margin: 116px 159px 141px 116px;
  }
  .text-content {
    max-width: 557px;
  }
  .text-content h2 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
  }
  .text-content p {
    
    font-size: 24px;
    margin-bottom: 23px;
    line-height: 30px;
    color: rgba(37, 36, 50, 50%)
    
    
  }
  
   
  
  .action-img {
    width: 403px;
    height: 328px;
    border-radius: 48px;
   
  }


  /*Users*/
  .users-summary {
    background-color:rgba(78, 71, 255, 10%);
    border-radius: 24px;
    margin-left: 141px;
    margin-right: 159px;
    padding: 50px 142px;
    max-width: 1140px;
    text-align: center;
  }
  .users-summary h3 {
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 40px;
  }
  .summary {
    display: flex;
    justify-content: space-around;
    gap: 158px;
  }
  .s-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .s-number {
    
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF; 
    
  }
  .s-description {
    font-size:20px;
    color: rgba(0, 0,0, 50%);
  }

  /* Review part*/
  .user-review {
  max-width: 1140px;
  height: 342px;
  margin-left:151px ;
  margin-top: 137px;
  margin-right: 149px;
  text-align: center;
}
.user-review h2{
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 50px;
  
}

.reviews {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  
}

.review-card {
  background-color: rgba(255, 255, 255, 50%);
  box-shadow:10px 10px 10px rgba(242, 237, 237, 100%);
  border-radius: 14px;
  padding: 24px;
  max-width: 366px;
  text-align: left;
}
.icon-star {
  margin-bottom: 24px;
}

.review-title {
  font-weight: bold;
  color: black;
  margin-bottom: 8px;
}
.review-text {
  font-size: 14px;
  color: #4b5563;
  margin-bottom: 24px;
}

.reviewer-info {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #757575;
}

.reviewer-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  
}

.review-date {
  font-size: 14px;
  color: #B3B3B3;
}

/*Focus section*/

.focus {
  max-width: 1140px;
  height: 696px;
  text-align: center;
  background-color: #FFFFFF;
   margin-left:151px ;
  margin-top: 137px;
  margin-right: 149px;
  padding: 71px 150px;
  border-radius: 14px;
  
  
  
}
.focus h1 {
  color: #000000;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;

}
.subtext {
  font-size: 14px;
  color: rgba(0, 0, 0, 50%);
  margin-bottom: 20px;
}

.focus-img img{
  max-width: 840px;
  height: 364px;
  border-radius: 48px;
  margin-top: 20px;
}

/*Contact*/

.contact-section {
  display: flex;
  max-width: 1140px;
  margin-left: 150px;
  margin-top: 92px;
  
  padding: 40px 60px;
  
  gap: 115px;
}

.contact-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.contact-left h1 {
  font-size: 80px;
  font-weight: 700;
  margin: 0;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-size: 18px;
  font-weight:600px;
  margin-bottom: 10px;
  color: #000000;
}

.contact-form input {
  height: 70px;
  padding: 20x 32px;
  margin-bottom: 24px;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  font-size: 20px;
  resize: vertical;
  background-color: white;
  color: #111827;
}
.contact-form textarea{
  height: 200px;
  padding: 20x 32px;
  margin-bottom: 24px;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  font-size: 20px;
  resize: vertical;
  background-color: white;
  color: #111827;

}

/*Footer*/

.foot {
  max-width: 1440px;
  height: 428px;
  text-align: center;
  background-color: #FFFFFF;
}

.logo-text {
  font-size: 100px;
  font-weight: 900;
  padding-top: 104px;

  color: #4E47FF; 
  
}

.description {
  font-size: 14px;
  margin-bottom: 20px;
  color: #8987A1;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 48px;
 
}
.nav-links a{
  text-decoration: none;
}

/*animation*/
.btn-primary:hover {
  background-color: #38cab4;
  transform: scale(1.03);
}

.btn-primary:active {
  background-color: #8ed112;
  transform: scale(0.98);
}

.review-card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}
